.hero {

  &__wrapper {
    padding-left: 298px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-top: 2px solid aquamarine;
    border-bottom: 2px solid aquamarine;
  }

  &__book-result {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222531;
  }

  &__result-number {
  }

  &__btn {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: 41px;
    background-color: #A6B0C3;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }

  &__btn-image {
    vertical-align: middle;
    margin-right: 8px;
  }

  &__btn-text{
    
  }
}
